@model BeautyCosmetic.Web.Models.ProductViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/Layouts.cshtml";
    var category = (BeautyCosmetic.Web.Models.ProductCategoryViewModel)ViewBag.Category;
    var url2 = "/" + category.Alias + "_pc-" + category.ID;
}

<!-- inner banner -->
<div class="ibanner_w3 pt-sm-5 pt-3">
</div>
<!-- //inner banner -->
<!-- breadcrumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Trang Chủ</a>
        </li>
        <li class="breadcrumb-item">
            <a href="@url2">@category.Name</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
    </ol>
</nav>
<!-- //breadcrumbs -->
<!-- Single -->
<div class="innerf-pages section py-5">
    <div class="container">
        <div class="row my-sm-5">
            <div class="col-lg-4 single-right-left">
                <div class="grid images_3_of_2">
                    <div class="flexslider1">
                        <ul class="slides">
                            <li data-thumb="@Model.Image">
                                <div class="thumb-image">
                                    <img src="@Model.Image" data-imagezoom="true" alt=" " class="img-fluid">
                                </div>
                            </li>
                            @{
                                var moreImages = (List<string>)ViewBag.MoreImages;
                                if (moreImages.Count > 0)
                                {
                                    foreach (var image in moreImages)
                                    {
                                        <li data-thumb="@image">
                                            <div class="thumb-image">
                                                <img src="@image" data-imagezoom="true" alt=" " class="img-fluid">
                                            </div>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 mt-lg-0 mt-5 single-right-left simpleCart_shelfItem">
                <h3>@Model.Name</h3>
                <div class="caption">

                    <ul class="rating-single">
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            

                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"> </div>
                    <h6>
                        @Model.PromotionPrice.Value.ToString("N0") ₫
                    </h6>
                </div>
                <div class="desc_single">
                    <h5>Mô tả</h5>
                    <p>
                        @Html.Raw(Model.Content)
                    </p>
                </div>
                <div class="d-sm-flex justify-content-between">
                    <div class="occasional">
                        <h5 class="sp_title mb-3">Điểm nổi bật</h5>
                        <ul class="single_specific">
                            <li>
                                <span>Xuất xứ: </span> Poly-Viscose
                            </li>
                            <li>
                                <span>Thương hiệu :</span> Solid
                            </li>
                            <li>
                                <span>Type :</span> Single Breasted
                            </li>
                            <li>
                                <span>Fit :</span> Slim
                            </li>
                        </ul>

                    </div>
                    <div class="color-quality mt-sm-0 mt-4">
                        <h5 class="sp_title mb-3">services</h5>
                        <ul class="single_serv">
                            <li>
                                <a href="#">30 Day Return Policy</a>
                            </li>
                            <li class="mt-2">
                                <a href="#">Cash on Delivery available</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="description">
                    <h5>Tags :</h5>
                    <ul class="w3-tag2">
                        @foreach (var tag in (IEnumerable<BeautyCosmetic.Web.Models.TagViewModel>)ViewBag.Tags)
                        {
                            <li>
                                <a href="/tag/@(tag.ID)_html">@tag.Name</a>
                            </li>
                        }
                    </ul>
                      

                </div>
                <div class="occasion-cart">
                    <div class="chr single-item single_page_b">
                        <form action="#" method="post">
                            <input type="hidden" name="cmd" value="_cart">
                            <input type="hidden" name="add" value="1">
                            <input type="hidden" name="hub_item" value=" Formal Men's Blazer">
                            <input type="hidden" name="amount" value="15.99">
                            <span>Thêm Vào Giỏ</span><button type="submit" class="hub-cart phub-cart btn" style="margin-left:20px">
                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            </button>
                            <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /new_arrivals -->
<div class="section singlep_btm pb-5">
    <div class="container">
        <div class="new_arrivals">
            <h4 class="rad-txt text-capitalize">
                Sản phẩm liên quan
            </h4>
            <!-- card group 2 -->
            @{
                var relatedProducts = (IEnumerable<BeautyCosmetic.Web.Models.ProductViewModel>)ViewBag.RelatedProducts;
            }
            <div id="clothing-nav-content" class="tab-content py-sm-5">
              
                   
                    <div role="tabpanel" class="tab-pane fade active show">
                        <div id="owl-demo" class="owl-carousel text-center">
                            @foreach (var product in relatedProducts)
                            {
                                var url = "/" + product.Alias + "_p-" + product.ID;
                                <div class="item">
                                    <!-- card -->
                                    <div class="card product-men p-3">
                                        <div class="men-thumb-item">
                                            <img src="@product.Image" alt="img" class="card-img-top">
                                            <div class="men-cart-pro">
                                                <div class="inner-men-cart-pro">
                                                    <a href="@url" class="link-product-add-cart">Xem Ngay</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- card body -->
                                        <div class="card-body  py-3 px-2">
                                            <h5 class="card-title text-capitalize">@product.Name</h5>
                                            <div class="card-text d-flex justify-content-between">
                                                <p class="text-dark font-weight-bold">@product.PromotionPrice.Value.ToString("N0")</p>
                                                <p class="line-through">@product.Price.ToString("N0")</p>
                                            </div>
                                        </div>
                                        <!-- card footer -->
                                        <div class="card-footer d-flex justify-content-end">
                                            <form action="#" method="post">
                                                <input type="hidden" name="cmd" value="_cart">
                                                <input type="hidden" name="add" value="1">
                                                <input type="hidden" name="hub_item" value="@product.Name">
                                                <input type="hidden" name="amount" value="@product.PromotionPrice.Value.ToString("N0")">
                                                <button type="submit" class="hub-cart phub-cart btn">
                                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                                </button>
                                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- //card -->
                                </div>
                            }
                        </div>
                    </div>

            </div>
            <!-- //card group -->
            <!--//new_arrivals-->
        </div>
    </div>
</div>
<!--// Single -->
